﻿@model FizzBuzzUma.Models.FizzBuzz
@{

    ViewBag.Title = "FizzBuzz";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>


@using (Html.BeginForm())
{
    <form>

        <h2>Welcome to FizzBuzz Programming</h2>
        <p>@Html.Raw(@ViewBag.Output)</p>
        @Html.ValidationSummary(true)

        @Html.TextBoxFor(model => model.Value)
        @Html.ValidationMessageFor(model=>model.Value)
        <input type="submit" id="submitId" value="submit" />

    </form>
}